@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;1,300&display=swap');

p {
    margin-block-start: 0px;
    margin-block-end: 0em;
}
body {
    background-color: #E8E9E9/*#D1D2D3*/;
    font-family: "Roboto";
    min-width: 370px;
}
body.dark {
    background-color: #494949;
}
header {
    height: 100px;
    background-color: #222629;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.logo {
    width: 25%;
    padding: 2.5%;
}
img {
    width: 100%;
}
h1 {
    text-align: center;
    padding: 2.5%;
    font-size: 1.2rem;
    font-family: "Playfair Display";
}
#dark-btn {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: black;
}
#dark-btn::before {
    content: "🌛";
}
#dark-btn.dark::before {
    content: "🌞";
}
#burger {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    width: 49px;
    height: 39px;
    position: absolute;
	top: 110px;
	left: 10px;
    background-color: #5D4360;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
}
#burger::before {
    content: "▼";
}
#burger.open::before {
    content: "▲";
}
nav ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: auto;
    padding-inline-start: 0px;
    display: none;
}
nav li {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 10px;
}
nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: #050331;
}
body.dark nav a{
    color: white;
}
nav a:hover {
    color: brown;
}
.open ul {
  display: block;
  width: 100%;
}
.active {
    border: solid 3px #5D4360;
    border-radius: 10px;
}
body.dark nav ul li a.active {
    border: solid 3px #bb7cc2;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    position: relative;
}
.hero-box {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
.hero-box img {
    width: 100%;
    height: auto;
}
.banner {
    display: none;
    justify-self: center;
    max-width: 80%;
    position: relative;
    border: solid 1px rgba(0,0,0,.3);
    border-radius: 10px;
    padding: .5rem;
    background-color: white;
}
.banner.visible {
    display: block;
}
body.dark main div.banner {
    background-color: black;
    border: 1px solid #A188A6;
}
.banner span {
    float: left;
    width: calc(100% - 25px);
}
body.dark main div.banner span {
    color: white;
}
.banner button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .5rem;
}
.button-box {
    height: 50px;
    width: 150px;
    background-color: #5D4360;
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*align-self: center;
    justify-self: center;*/
    cursor: pointer;
    box-shadow: 0 9px rgba(128,128,128,.3);
}
.button-box:hover {
    background-color: #A188A6;
}
.button-box:hover  .join-button {
    color: brown;
}
.button-box:active {
    background-color: #5D4360;
    box-shadow: 0 5px rgba(0,0,0,.3);
    transform: translateY(4px);
}
.join-button {   
    text-decoration: none;  
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
h2 {
    font-size: 1.2rem;
    font-family: "Playfair Display"; 
}
body main section,
.spotlight section {
    width: 90%;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
}
body.dark main section { 
    background-color: black;
    border: 1px solid #A188A6;
}
body main section p{
    padding: 10px;
}
body.dark main section p,
body.dark main section span,
body.dark main section.events ul li {
    color: white;
}
.spotlight section {
    margin-bottom: 10px;
}
body main section h2 {
    margin: 0;
    background-color: #A188A6;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
.weatherBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weatherBox label {
    padding: .5rem;
    font-weight: bold;
}
.weatherBox img {
    width: auto;
}
.weather > p {
    margin: 0;
    background-color: #A188A6;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
.forecastBox {
    display: flex;
    flex-direction: row;
}
.forecastBox section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
    min-width: 3rem;
}
.forecastBox section p {
    font-weight: bold;
}
body.dark main section h2,
body.dark main section.weather > p {
    background-color:#5D4360;
    color: white;
}
footer {
    height: 100px;
    background-color: #222629;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;  
    gap: 10px;
    padding: 10px;
}
.footer-contact {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-contact p {
    color: white;
    font-size: 0.75rem;
}
.footer-contact a {
    font-size: 0.75rem;
    color: lightblue;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;   
}
.social img {
    width: auto;
}
#lastModified {
    grid-column: 1/3;
    grid-row: 2/3;
    color: white;
    font-size: 0.5rem;
    text-align: center;
}

/*---- Discover ----*/

.discover-main {
    margin-top: 60px;
}
.discover-main section {
    width: 90%;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: white;
}
.discover-main section h2 {
    margin: 0;
    background-color: #A188A6;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
.discover-main section p {
    padding: 10px;
}
body.dark main div label {
    color: white;
}
.discover-images {
    min-width: 400px;
    max-width: 700px;
    margin: 0 auto;
}
.discover-images img {
    margin-bottom: 1rem;
}
.distinfo {
    max-width: 390px;
    display: block;
    margin: 10px auto;
}

/*---- Join ----*/

.join-main {
    margin-top: 30px;
}
form label.top {
    display: block;
    padding-top: 1rem;
}
form label.top input {
    display: block;
    height: 44px;
    border: solid 1px rgba(0,0,0,.3);
    border-radius: 4px;
    width: 90%;
    /*max-width: 20rem;*/
    padding: .75rem;
    margin: 0 auto;
}
body.dark main form fieldset label,
body.dark main form div div {
    color: white;
}
body.dark main form fieldset label input,
body.dark main form fieldset textarea,
body.dark main div.thankyou {
    background-color: black;
    color: white;
}
form label.top textarea{
    display: block;
    border: solid 1px rgba(0,0,0,.3);
    border-radius: 4px;
    width: 90%;
    height: 15rem;
    /*max-width: 20rem;*/
    padding: .75rem;
    overflow-y: auto;
    resize: none;
    margin: 0 auto;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
}
form fieldset {
    margin: 2rem 0;
    border: 3px solid #5D4360;
    border-radius: 10px;
    padding: .5rem 5%;
}
form fieldset.membership {
    margin: 0 0 2rem 0;
}
body.dark main form fieldset,
body.dark main div.thankyou {
    border: 3px solid #A188A6;
}
form legend {
    color: #5D4360;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
}
body.dark main form legend {
    color: #A188A6;
}
#submitBtn {
    margin: 0 auto 2rem auto;
    width: 90%;
    height: 44px;
    max-width: 20rem;
    text-align: center;
    display: block;
    background-color: #5D4360;
    border-radius: 10px;
    color: white;
    cursor: pointer
}
.benefit,
.benefitsLarge {
    display: none;
}

/*---- Thankyou ----*/

.thankyou {
    width: 100%;
    max-width: 20rem;
    height: 10rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    border: 3px solid #5D4360;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}

/*---- Directory ----*/

.switchContainer{
    padding-left: 2.5%;
    margin: 60px 1rem 1rem 0;
}
body div button {
    background-color: #5D4360;
    color: white;
    border-radius: 10px;
}
.directory-main section {
    margin-bottom: 1rem;
}
body main.list {
    grid-template-columns: 1fr;
}
body main.list section {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
    height: 3rem;
}
body main.list section img,
body main.list section p.phone, 
body main.list section p.address {
    display: none;
}

body main.list section h2 {
    font-size: 0.75rem;
    border-radius: 10px 0 0 10px;
}
body main.list section p {
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 1rem;
}
body main.list section div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}
body main.grid section div.linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
body.dark main section a {
    color: lightblue;
}
body main section p.gold {
    display: block;
    border-radius: 0 0 10px 10px ;
    background-color: #FFD700;
    color: black;
    text-align: center;
    font-size: .75rem;
}
body main section p.silver {
    display: block;
    border-radius: 0 0 10px 10px ;
    background-color: #C0C0C0;
    color: black;
    text-align: center;
    font-size: .75rem;
}
body main section p.bronze {
    display: block;
    border-radius: 0 0 10px 10px;
    background-color: #CF853A;
    color: black;
    text-align: center; 
    font-size: .75rem;   
}
body main section p.np {
    text-align: center;
    font-size: .75rem;
}
body main.list section p.gold,
body main.list section p.silver,
body main.list section p.bronze,
body main.list section p.np {
    display: block;
    margin: 0;
    border-radius: 0 10px 10px 0;
}